<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="<%= relative_path_to('/assets/styles/main.css') %>">

    <title>Get into teaching: <%= @item[:title] %></title>
  </head>
  <body>
    <header role="header" class="container">
      <div class="navbar navbar-expand-md navbar-light">
        <a class="brand" href="<%= relative_path_to('/') %>"><img src="<%= relative_path_to('/assets/images/logo.png') %>" height="80" alt="Get into Teaching"></a>
        <button id="mainNavToggle" class="nav-toggle" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle menu"><span class="icon"></span><span class="icon"></span><span class="icon"></span></button>

        <nav id="mainNav" class="hidden inactive">
          <ul class="nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="<%= relative_path_to('/life-as-a-teacher/index.html') %>">Life as a teacher</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= relative_path_to('/how-to-become-a-teacher/index.html') %>">How to become a teacher</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= relative_path_to('/funding-your-training/index.html') %>">Funding your training</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= relative_path_to('/how-to-apply/index.html') %>">How to apply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= relative_path_to('/find-an-event-near-you/index.html') %>">Find an event near you</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main role="main" class="container">
      <div class="header-image">
        <img src="<%= relative_path_to(@item[:image] || '/assets/images/main-header.jpg') %>" class="header-image" alt="" />
      </div>

      <h1><%= @item[:title] %></h1>

      <%= yield %>
    </main>

    <script src="<%= relative_path_to('/assets/scripts/main.js') %>"></script>
  </body>
</html>
